body {
    background: #634a3a url('/images/bg.jpg') repeat scroll 0 0;
    color: #452b0b;
    font-size: 22px;
    font-family: 'Merriweather', serif;
}

#content {
    width: 1170px;
    margin: 100px auto 0;
}

p {
    margin-bottom: 30px;
}

@media only screen and (max-width: 1170px) {
    #content {
        width: 100%;
    }
}

header > h1 {
    margin: 0;
    padding: 0;
    text-indent: -6000px;
    display: block;
    width: 537px;
    height: 537px;
    background: transparent url('/images/logo.png') no-repeat scroll 0 0;

    position: relative;
    left: calc(50% - 268px);
}

@media only screen and (max-width: 1322px) {

}

header > h1 > span.cup {
    display: block;
    width: 432px;
    height: 398px;
    background: transparent url('/images/cup.png') no-repeat scroll 0 0;
    position: absolute;
    right: -380px;
    bottom: -300px;
    z-index: 1000;
}

@media only screen and (max-width: 1322px) {
    header > h1 > span.cup {
        display: none;
    }
}

.box {
    background-color: #FAF3EB;
    border-radius: 10px;
    padding: 40px;
    box-shadow: -3px 5px 8.19px 0.81px rgba(0, 0, 0, 0.35);
    margin-bottom: 50px;
    z-index: 21;
    position: relative;
}

.box h1 {
    color: #452b0b;
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    text-align: center;
    margin: 0 0 40px;
    padding: 0px;
}

.box h1::before,
.box h1::after {
    content: " ";
    display: inline-block;
    width: 89px;
    height: 34px;
}

@media only screen and (max-width: 820px) {
    .box h1::before,
    .box h1::after {
        display: block;
        margin: 10px auto;
    }

    .box h1::after {
        display: none;
    }
}

.box h1::before {
    background: transparent url('/images/header-left.png') no-repeat 0 0 scroll;
}

.box h1::after {
    background: transparent url('/images/header-right.png') no-repeat 0 0 scroll;
}


#o-nas {
    margin-top: 250px;
}

@media only screen and (max-width: 1322px) {
    #o-nas {
        margin-top: 100px;
    }
}

#kontakt a {
    color: #452b0b;
    text-decoration: none;
}

#kontakt a:hover,
#kontakt a:active,
#kontakt a:visited {
    text-decoration: underline;
}

#kontakt .opening-hours {
    float: right;
}

#kontakt .opening-hours td:first-child {
    text-align: right;
    padding-right: 30px;
}

@media only screen and (max-width: 991px) {
    #kontakt {
        text-align: center;
    }

    #kontakt .opening-hours {
        float: none;
        width: 100%;
    }

    #kontakt .opening-hours td:last-child {
        text-align: left;
    }
}

#map {
    margin-top: -200px;
    width: 1156px;
    height: 777px;
    z-index: 20;
    background: transparent url('/images/map.png') no-repeat 0 0 scroll;
}

#photos {
    margin-top: -200px;
    margin-left: -51px;
    width: 1272px;
    height: 1012px;
    z-index: 20;
    margin-bottom: 50px;
    background: transparent url('/images/photos.png') no-repeat 0 0 scroll;
}

@media only screen and (max-width: 1170px) {
    #map {
        display: none;
    }
    #photos {
        display: none;
    }
}

#jidelni-listek h3 {
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    text-align: center;
    margin: 20px 0 20px;
    padding: 0px;
}

#jidelni-listek table small {
    font-weight: normal;
}

#jidelni-listek table td {
    white-space: nowrap;
    text-align: right;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border: none;
}